/* HOME */


.products {
  margin-top: 10px;
  margin-bottom: 20px;;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: top;
}

.product {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  text-align: center;
  height: 270px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* .image {
  max-width: 150px;
  height: 150px;
  margin-bottom: -15px;
  margin-top: -15px;
} */

.name {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.desc {
  font-size: 14px;
  color: #777;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #006aff;
}

/*FORM*/

.create {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.create label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.create input[type="text"],
.create input[type="number"],
.create input[type="file"] {
  width: 100%;
  padding: 10px 10px;
  margin: 5px -10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.create button {
  background-color: #0077B6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.create .error {
  color: #FF6B6B;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

/*HEADER*/

.header{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 150px;
}

.carousel{
  padding: 20px 0;
}
.first{
  display: flex;
  align-items: center;

}
.accsign{
  color: #000000;
}

.signin-link {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  font-weight:lighter;
  text-align: center;
  cursor: pointer;
}

.signin-link:hover{
  font-weight: bold;
}

.accreg{
  color: #000000;
}

.signup-link {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  font-weight:lighter;
  text-align: center;
  cursor: pointer;
}

.signup-link:hover{
  font-weight: bold;
}

.acclogout{
  color: #000000;
}

.logout-but{
  gap:10px;
  padding: 5px;
  text-decoration: none;
  padding: 0;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: inherit;
  color: #000;
  font-weight: lighter;
}

.logout-but:hover{
  font-weight: bold;
}

.logout{
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.add{
  height: 35px;
}

.mail{
  color: #000;
}

.logo {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.comName {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  font-family: 'Young Serif', serif;
  text-decoration: none;
}

.searchbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 350px;
  margin-left: 50px;
  height: 30px;
}

.searchbar input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-size: 16px;
}

.searchbar button {
  background-color: #0eb3fa;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.search::placeholder {
  color: #777;
}
/*LOGIN*/
.login-page {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-page .div {
  background-color: #f3f3f3;
  height: 760px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.login-page .overlap1 {
  height: 100%;
  left: 661px;
  position: absolute;
  bottom: 0;
  width: 1000px;
}

.login-page .rectangle {
  background-color: #afb3ff;
  border-radius: 0px 0px 50px 50px;
  height: 720px;
  left: 288px;
  position: absolute;
  top: 0;
  width: 438px;
}

.image1 {
  height: auto;
  width: auto;
  margin-top: 50px;
  margin-left: 270px;
  position: absolute;
  z-index: 1;
  }

.login-page .rectangle-2 {
  border: 1px solid;
  border-color: #656ed3;
  border-radius: 50px;
  height: 34px;
  left: 122px;
  position: absolute;
  top: 250px;
  width: 367px;
  padding-left: 15px;
  font-size: 15px;
}

.login-page .rectangle-3 {
  border: 1px solid;
  border-color: #656ed3;
  border-radius: 50px;
  height: 34px;
  left: 122px;
  position: absolute;
  top: 326px;
  width: 367px;
  padding-left: 15px;
  font-size: 15px;
}

.login-page .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 219px;
  white-space: nowrap;
}

.login-page .dont-have-and {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 201px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 489px;
  white-space: nowrap;
}

.login-page .span {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.login-page .text-wrapper-2 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
}

.login-page .text-wrapper-3 {
  color: #191919;
  font-family: "Inter-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 253px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 176px;
  white-space: nowrap;
}

.login-page .group {
  height: 34px;
  left: 124px;
  position: absolute;
  top: 402px;
  width: 367px;
}

.login-page .overlap-group {
  display: inline-block;
  background-color: #656ed3;
  border-radius: 50px;
  height: 34px;
  position: relative;
  width: 380px;
  cursor: pointer;
  text-align: center;

}

.login-page .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: bold;
  left: 170px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.login-page .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 295px;
  white-space: nowrap;
}

.login-page .overlap-2 {
  height: 499px;
  left: -287px;
  position: absolute;
  top: 520px;
  width: 543px;
}

.login-page .rectangle-4 {
  background-color: #838cf1;
  border-radius: 105.53px;
  height: 141px;
  left: -27px;
  position: absolute;
  top: 179px;
  transform: rotate(-41.1deg);
  width: 597px;
}

.login-page .rectangle-5 {
  background-color: #afb3ff;
  border-radius: 105.53px;
  height: 131px;
  left: 10px;
  position: absolute;
  top: 177px;
  transform: rotate(-41.1deg);
  width: 554px;
}

.login-page .CHAMA-COMPUTERS {
  color: #100e0e;
  font-family: "Holtwood One SC-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 217px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  font-weight: bold;
  font-family: 'Young Serif', serif;
}

.login-page .logo-c {
  height: 119px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 119px;
}
 /*SIGNUP*/
 .register-page {
  background-color: #f2f3f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.register-page .signupcontent{
  background-color: #f2f3f3;
  height: 900px;
  position: relative;
  width: 1440px;
}

.register-page .rectangle {
  border: 1px solid;
  border-color: #656ed3;
  border-radius: 50px;
  height: 34px;
  left: 756px;
  position: absolute;
  top: 240px;
  width: 367px;
  padding-left: 15px;
  font-size: 17px;

}

.register-page .rectangle-2 {
  border: 1px solid;
  border-color: #656ed3;
  border-radius: 50px;
  height: 34px;
  left: 756px;
  position: absolute;
  top: 164px;
  width: 367px;
  padding-left: 15px;
  font-size: 17px;

}

.register-page .rectangle-3 {
  border: 1px solid;
  border-color: #656ed3;
  border-radius: 50px;
  height: 34px;
  left: 758px;
  position: absolute;
  top: 396px;
  width: 367px;
  padding-left: 10px;
}

.register-page .rectangle-4 {
  border: 1px solid;
  border-color: #656ed3;
  border-radius: 50px;
  height: 34px;
  left: 756px;
  position: absolute;
  top: 320px;
  width: 367px;
  padding-left: 15px;
  font-size: 17px;

}

.register-page .rectangle-5 {
  border: 1px solid;
  border-color: #656ed3;
  border-radius: 50px;
  height: 34px;
  left: 758px;
  position: absolute;
  top: 472px;
  width: 367px;
}

.register-page .usrname {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 756px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 209px;
  white-space: nowrap;
}

.register-page .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 756px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 133px;
  white-space: nowrap;
}

.register-page .yes-i-have-an {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 838px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 489px;
  white-space: nowrap;
}

.register-page .span {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.register-page .text-wrapper-3 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
}

.register-page .group {
  height: 34px;
  left: 760px;
  position: absolute;
  top: 429px;
  width: 367px;
}
.register-page .overlap-group:hover{
  background-color: #006aff;
  border-radius: 50px;
  height: 34px;
}

.register-page .overlap-group {
  background-color: #4854d7;
  border-radius: 50px;
  height: 34px;
  position: relative;
  width: 365px;
}

.register-page .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 150px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.register-page .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 760px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 365px;
  white-space: nowrap;
}

.register-page .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 758px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 289px;
  white-space: nowrap;
}

.register-page .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 760px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 441px;
  white-space: nowrap;
}

.register-page .overlap {
  height: 980px;
  left: 101px;
  position: absolute;
  top: -167px;
  width: 550px;
}

.register-page .rectangle-6 {
  background-color: #4854d8;
  border-radius: 105.53px;
  height: 377px;
  left: -91px;
  position: absolute;
  top: 150px;
  transform: rotate(-97.17deg);
  width: 635px;
}

.register-page .rectangle-7 {
  background-color: #b7baf7;
  border-radius: 105.53px;
  height: 377px;
  left: -65px;
  position: absolute;
  top: 197px;
  transform: rotate(-90deg);
  width: 635px;
}

.register-page .imagesold {
  height: 800px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 180px;
  width: 550px;
}

.register-page .p {
  color: #191919;
  font-family: "Inter-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 818px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 91px;
  white-space: nowrap;
}

/* CATEGORY SELECTOR*/
/* styles.css */
.select {
  width: 100%;
  margin-left: -10px 0;
  padding: 5px 0; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Optional: Style the selected option */
.select option {
  background-color: #fff;
  color: #333;
}

/* Optional: Style the dropdown arrow (in some browsers) */
.select::-ms-expand {
  display: none;
}

/* Optional: Style the dropdown arrow (in other browsers) */
.select::-webkit-select {
  appearance: none;
}

/* Optional: Add hover and focus styles */
.select:hover,
.select:focus {
  border-color: #007bff;
}

.home{
  padding: 0 150px;
}

.footer{
  position: sticky;
  bottom: 0;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding:  0 150px;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}

.follow{
  color: #000000;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
}

.input-field{
  border:1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  gap:5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}
.mail-field{
  border:none;
  background-color: transparent;
}
.mail-field:focus{
  outline: none;
}
.send-btn{
  border: none;
  background-color: transparent;
}
.message{
  position:absolute;
  top:-20px;
}
.email{
  margin-top: 50px;;
}
.social{
  justify-content: end;
  align-items: end;
  margin-bottom: 20px;
}

.icons{
  display: flex;
  align-items: center;
}

.icons .icon{
  height: 40px;
}

.fb{
  height: 37px !important;
}
.ws{
  height: 43px !important;
}